{% extends 'base.html' %}

{% block title %}Registro de Productos{% endblock %}

{% block content %}
    <body class="bodyR">
        <form class="form" method="POST">
            {% csrf_token %}
            <h2 class="h2R">Registrar Producto</h2>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
            <p type="Código:">
                <input class="inputR" type="text" name="codigo" id="codigo" placeholder="Escribe el código del producto.."></input>
            </p>
            <p type="Nombre:">
                <input class="inputR" type="text" name="nombre" id="nombre" placeholder="Escribe el nombre del producto.."></input>
            </p>
            <p type="Marca:">
                <input class="inputR" type="text" name="marca" id="marca" placeholder="Escribe la marca del producto.."></input>
            </p>
            <p type="Feccha Vencimiento:">
                <input class="inputR" type="date" name="fecha_vencimiento" id="fecha_vencimiento"></input>
            </p>
            <button class="buttonR" type="submit">Registrar</button>
        </form>
    </body>
{% endblock %}
