{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <body class="bodyR">
        <div class="form">
            <h1 class="h2R">Bienvenido</h1>
            <p>
                En Gestión de Productos S.A., nos dedicamos a proporcionar soluciones eficientes para la gestión de 
                inventarios y productos de todo tipo. Nuestra plataforma web está diseñada para ayudar a los administradores 
                a registrar, consultar y monitorear de manera fácil y rápida los productos que manejan en su día a día.
            </p>
        </div>

    </body>
{% endblock %}