<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jalisco</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Jalisco</h1>
        <p>Estoy pensando en un numero entre 1 y 100. ¿Cual crees que es?</p>
        <form method="POST" action="/">
            <input type="number" id="myNumber" name="myNumber" value="{{}}">
            <button type="submit">Respoonder</button>
        </form>

        <p>
    </body>
</html>